.company_logo{
    display: flex;
    align-items: center;
    /* height: inherit;
    width: inherit; */
   
   

}
.logo{
    /* background-color: aqua; */
    height: 60px;
    width: 60px;
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}
/* .vertical1{
    height: 100px;
    width: 100px;
    background-color: black;
    position: relative;
    display: flex;
    
    
   
   
} */
.vertical2{
    background: linear-gradient(-135deg, #ffffff 50%, #007bff 50%);

}
.vertical3{
   color: navy;
   display: flex;
   align-items: center;
   justify-content:center ;
   
}
.vertical7{
    /* background-color: #007bfe; */
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}
.vertical12{
    background: linear-gradient(-135deg, #007bff 50%, #ffffff 50%);
}
.vertical17{
    background: linear-gradient(-135deg, rgb(0, 188, 212), aquamarine);
    /* background-color: aquamarine; */
}
.vertical9{
    /* background-color: aquamarine; */
     background: linear-gradient(-135deg, rgb(0, 188, 212), aquamarine);

}
.vertical13{
     /* background-color: #007bff; */
     background: linear-gradient(135deg, #00c6ff, #0072ff);
     
}
.vertical14{
    background: linear-gradient(-135deg, #ffffff 50%, #007bff 50%);

}
.vertical19{
     /* background-color: #007bff; */
     background: linear-gradient(135deg, #00c6ff, #0072ff);
}
.vertical24{
    background: linear-gradient(-135deg, #007bff 50%, #ffffff 50%);
}

/* --------------------------------------------- */
.title{
    font-size: 40px;
    font-weight: 600;
    font-family: "Oswald" , sans-serif;
    color: #007bff;
    position: relative;
    display: flex;
    /* flex-direction: column; */
}
.arrows{
    font-size: 10px;
    /* background-color: aqua; */
    height: 10px;
    width: 10px;
    position:absolute;
    /* top: 200px; */
    right: 12px;
    bottom: 32px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) ;
    
}
.arrow1{
    background: linear-gradient(135deg, #007bff 50%, #ffffff 50%);

}
.arrow4{
        background: linear-gradient(-135deg, orange 50%,#ffffff 50%);

}
.tagline{
    font-size: 10px;
    display: flex;
    top: 25px;
    color: navy;
    font-family: sans-serif;
    position: relative;
    right: 135px;
}
@media screen and (max-width:768px) {
    .logo{
        width: 60px;
    }
    .title{
        font-size: 30px;
    }
    .tagline{
        font-size: 8px;
        right: 100px;
    }
    .arrows{
        bottom: 23px;
    }
}