.About{
      margin-top: 80px;
     background-color: rgb(234, 228, 221);
     z-index: 9;
     /* height: 100vh; */
}
.AboutCompany{
    display: flex;
    /* background-color: ; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 20px; */
    width: 100%;
    gap: 10px;

}
.profile_grid{
    display: grid;
    background-color: white;
    width: 100%;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(7,1fr);
    /* padding: 0  100px 100px 100px ; */
    /* border: 1px solid black; */
    /* font-size: 20px; */
}
.profile_grid div{
    border: 1px solid black;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
}
.profile_detail10{
    padding: 10px;
}
@media screen and (max-width:768px) {
    .profile_grid{
      padding: 10px;
    }
    .profile_grid div{
        font-size: 14px;
        
        padding: 10px;
        
        box-sizing: border-box;
    }
}
@media screen and (max-width:460px) {
    .profile_grid div{
        font-size: 10px;
        font-weight: 700;
}
}
