.Contact{
    margin-top: 80px;
     background-color: rgb(234, 228, 221);
     z-index: 9;
     height: 100vh;
}
.contact_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* margin-top: 50px; */
    /* height: 100%; */
    width: 100%;
    gap: 10px;
}

.contact_info_grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(5,1fr);
    padding: 0  100px 100px 100px ;
}
.contact_details{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    /* height: 50vh; */
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500;
}
@media screen and (max-width:468px) {
    .contact_info_grid{
        padding: 10px;
    }
    .contact_details{
        font-size: 12px;
    }
    .contact_info h1{
        font-size: 20px;
    }
}
